/* src/TradeForm.css */
.trade-form-container {
  display: flex;
  flex-direction: column;
}

.trade-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: white;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  color: #f0ad4e;
}